{% extends 'microblog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Login to Your Account</h2>
                        <form method="post" autocomplete="off">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="mb-3">
                                {{ form.password|as_crispy_field }}
                            </div>
                            <button type="submit" class="btn btn-primary d-block w-100">Login</button>
                        </form>
                        <div class="text-center mt-3">
                            <p>Don't have an account ? <a href="{% url 'register' %}">Register</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}
